<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Как?</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Главная</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/detector}">Детектор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/education}">Как пользоваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rest}">Rest API</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Инструкция по использованию сервиса</h1><br>
<h2 align="center">Шаг 1</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p class="lead">Чтобы задетектить объект, для начала <br>
                придется загрузить его фото с вашего компьютера</p>
        </div>
        <div class="col-sm">
            <img src="../static/images/step-1.jpg" th:src="@{/images/step-1.jpg}">
        </div>
        <div class="col-sm">
            <p class="lead">Выберите файл с расширением "jpg" или подобным. Затем нажмите кнопку "Загрузить"</p>
        </div>
    </div>
</div>

<h2 align="center">Шаг 2</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p class="lead">Затем у вас на экране появится изображение, которое вы загрузили</p>
        </div>
        <div class="col-sm">
            <img src="../static/images/step-2.jpg" th:src="@{/images/step-2.jpg}">
        </div>
        <div class="col-sm">
            <p class="lead">Чтобы наконец-то распознать объект на изображении - нажмите кнопку "Задетектить"</p>
        </div>
    </div>
</div>

<h2 align="center">Результат</h2>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p class="lead">И наконец мы получаем долгожданный результат. Если никакого объекта на фото найдено не было, то вы увидите ту же самую картинку, что и отправляли</p>
        </div>
        <div class="col-sm">
            <img src="../static/images/result.jpg" th:src="@{/images/result.jpg}">
        </div>
        <div class="col-sm">
            <p class="lead">В случае успеха будет как тут. Детекция объекта может занимать некоторое время, обычно до 7 секунд.</p>
        </div>
    </div>
</div>

<h3>ВНИМАНИЕ!!! Изображения хранятся 3 часа на сервере, поистечению этого времени вам придется заново загружать их</h3>

<p class="lead">
    <a class="btn btn-primary btn-lg" th:href="@{/detect}" role="button">Теперь точно детектим!</a>
</p>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>